body {
    background-color: lavender;
}

h1 {
    color: purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 25px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }

  ul li {
    padding-bottom: 5px;
  }

  a {
    color: black;
  }

  p {
    margin: 15px;
    padding: 10px;
  }