<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>

    <ul>
        <% holidays.forEach(function(holidayItem){ %>
            <li><a href="details?key=<%= holidayItem.key %>"><%= holidayItem.name %></a></li> 
        <% }); %>
      </ul>
</body>
</html>